body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(171, 165, 165);
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 50px;
  text-align: left;
  color: rgb(240, 238, 235);
  margin-top: -10px;
}

header article h3 {
  margin-top: -30px;
  font-size: 20px;
  text-align: left;
}

header nav a {
  margin: 20px auto;
  font-size: 18px;
  color: #555;
  text-align: center;
  text-decoration: none;
  margin-inline: 5px;
}

header img {
  margin-top: 40px;
  box-shadow: 0 0 10px;
}

div1 article h2 {
  margin-left: 15px;
  box-shadow: 0 0 10px;
}
